#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
}
path:hover, circle:hover {
  position: absolute;
  stroke: #e27c7c !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #e27c7c !important;
  cursor: pointer;
  z-index:0;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
  z-index:1  ;
}
#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
  font-family: "Roboto";
  src: "Assets/Roboto";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

canvas {
  position: absolute;
  pointer-events: none
}